@model IEnumerable<DigitalRetailerPro.Models.TblLaptop>

@{
    ViewData["Title"] = "GetSoldLaptopOfSeller";
}


<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container">
            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">DigitalRetailerPro</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-action="GetSoldLaptopOfSeller">Sold laptop</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-action="AddNewlaptop">New laptop</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-action="UnSoldLaptop">Laptops to be sold</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-action="Edit" asp-route-id="@ViewBag.id">Edit Profile</a>
                    </li>


                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-action="logout">Logout</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
<h1>Sold Laptop details</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Brand)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Configuration)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PaymentMode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cost)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Available)
            </th>
            <th>
                Customer
            </th>
            <th>
                Seller
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Brand)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Configuration)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PaymentMode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cost)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Available)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cid.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Sid.Name)
                </td>
                <td>
                    <a asp-action="SaleReport" asp-route-id="@item.Id">Sale Report</a> |
                  
                </td>
            </tr>
        }
    </tbody>
</table>
