@model DigitalRetailerPro.Models.TblUsers

@{
    ViewData["Title"] = "UserDetails";
}

<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container">
            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">DigitalRetailerPro</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-action="GetAvailableLaptop">Available Laptops</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-action="AllUsers">Users</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-action="index">Admins</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-action="AllCustomers">Customers</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-action="GetSoldLaptop">Sold Laptops</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-action="AllSellers">Sellers</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-action="Edit" asp-route-id="@ViewBag.id">Edit Profile</a>

                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-action="logout">Logout</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
<h1>User Details</h1>

<div>
    <h4>TblUsers</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Role)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Role)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Location)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Location)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Mobile)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Mobile)
        </dd>
    </dl>
</div>

